<script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script>
  docsearch({
    apiKey: '4b1f1deb1b78ea61f35a374a61987377',
    indexName: 'main',
    appId: 'MPR607Z6U1',
    inputSelector: '.searchbox',
    debug: false,
    algoliaOptions: {
      facetFilters: [
        'version:{{displayVersion page}}',
      ],
    }
  });
</script>
