<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">
        <img class="navbar-logo" src="{{uiRootPath}}/img/nuodb-bird-only-white.png" />
        {{site.title}}
      </a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://nuodb.com">NuoDB.com</a>
        <a class="navbar-item" href="https://nuodb.com/dev-center">Dev Center</a>
        {{!--
        <a class="navbar-item" href="#">REST API</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Drivers</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">JDBC</a>
            <a class="navbar-item" href="#">C++</a>
            <a class="navbar-item" href="#">GoLang</a>
          </div>
        </div>
        --}}
        <div class="navbar-item">
          <input class="control searchbox" placeholder="Search documentation" />
        </div>
      </div>
    </div>
  </nav>
</header>
