{{#if page.versions}}
<div class="page-versions">
  <div class="navbar-menu has-dropdown is-hoverable">
    <div class="navbar-item has-dropdown is-hoverable">
      <span class="navbar-link" title="Show other versions of page">{{page.componentVersion.displayVersion}}</span>
      <div class="navbar-dropdown">
        {{#each page.versions}}
          <a class="version navbar-item"
            {{~#if (eq ./version @root.page.version)}} is-current{{/if~}}
            {{~#if ./missing}} is-missing{{/if}}" href="{{{relativize ./url}}}">{{./displayVersion}}</a>
        {{/each}}
      </div>
    </div>
  </div>
</div>
{{/if}}
