footer.footer {
  background-color: var(--footer-background);
  border-top:2px solid #46bdbc;
  color: var(--footer-font-color);
  font-size: calc(15 / var(--rem-base) * 1rem);
  line-height: var(--footer-line-height);
  padding: 1.5rem;
}

.footer p {
  margin: 0.5rem 0;
}

.footer a {
  color: var(--footer-link-font-color);
}

.footer a:hover {
  color: var(--link_hover-font-color);
}
